<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.ejb.metamodel.population">disabled</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/proyecto_ad3_orm</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">lgp200267</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="current_session_context_class">thread</property>

      <mapping class="hibernate_bd.PiezasEntity"/>
    <mapping resource="PiezasEntity.hbm.xml"/>
    <mapping class="hibernate_bd.ProveedoresEntity"/>
    <mapping resource="ProveedoresEntity.hbm.xml"/>
    <mapping class="hibernate_bd.ProyectosEntity"/>
    <mapping resource="ProyectosEntity.hbm.xml"/>
    <mapping resource="GestionEntity.hbm.xml"/>
    <mapping class="hibernate_bd.GestionEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>